@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Téléphone */
.hidden {
  display: none;
}

:root {
  /* Burger Menu */
  --burger-menu-bgc: #1b262f;
  --schedule-a-demo: #ba4270;
  --burger-menu-text: #fbfcfe;
  --responsive-burger-menu-color: #36536b;

  /* Body */
  --body-color: #edf3f8;

  /* Hero */
  --hero-color: #36536b;
  --hero-weight-color: #6c8294;
  --schedule-button: #ba4270;

  /* Brands */
  --brands-bgc: #1b262f;
  --brands-text-color: #fbfcfe;

  /* API Section */
  --api-section-title: #36536B;
  --api-section-text: #6C8294;
}

/* Home Page */
body {
  background-color: var(--body-color);
}

/* Navigation */
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.desktop-navigation {
  display: none;
}

/* Burger Menu */
.burger-btn {
  cursor: pointer;
}

.burger-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: var(--burger-menu-bgc);
  width: 70%;
  height: 100%;
}

.close-btn {
  margin-left: auto;
  cursor: pointer;
  padding-top: 48px;
  margin-bottom: 24px;
}

hr {
  opacity: 0.15;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.burger-container ul {
  list-style-type: none;
  padding-left: 0px;
}

.burger-container a {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--burger-menu-text);
}

.burger-container li {
  margin-top: 24px;
}

.schedule-cta {
  display: block;
  background-color: var(--schedule-a-demo);
  padding: 16px 36px 14px 38px;
  border-radius: 24px;
}

/* Tablette */
@media screen and (min-width: 768px) {
  .burger-btn,
  .close-btn,
  hr {
    display: none;
  }

  .desktop-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    width: 70%;
  }

  .desktop-navigation div {
    display: flex;
    gap: 36px;
  }

  .desktop-navigation li {
    list-style-type: none;
  }

  .cta {
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--responsive-burger-menu-color);
    opacity: 0.7;
  }

  .schedule-cta {
    color: white;
    margin-left: 38px;
    font-family: "Public Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
  }
}

/* Ordinateur */
@media screen and (min-width: 1024px) {
  .header-navigation {
    width: 80%;
    max-width: 1100px;
    margin-bottom: 88px;
  }

  .desktop-navigation {
    width: 85%;
  }

  .desktop-navigation div {
    margin-left: 24px;
  }

  .cta {
    opacity: 0.7;
  }

  .cta:hover {
    color: var(--burger-menu-bgc);
    opacity: 1;
  }

  .schedule-cta:hover {
    background-color: rgba(186, 66, 112, 0.5);
  }
}

/* Hero téléphone */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans", sans-serif;
}

.hero-container img {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-container h1 {
  margin: 0;
  text-align: center;
  font-family: "DM Serif Display", serif;
  color: var(--hero-color);
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 24px;
  font-size: 32px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.hero-container form label {
  display: none;
}

.hero-container form div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-container form input {
  padding: 12px;
  border-radius: 24px;
  width: 90%;
  border: none;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  margin-bottom: 12px;
  color: var(--hero-color);
}

button[type="submit"] {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-bottom: 24px;
  font-weight: 700;
  display: block;
  width: 90%;
  background-color: var(--schedule-button);
  padding: 16px 36px 14px 38px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.contact {
  text-align: center;
  color: var(--hero-weight-color);
  padding-bottom: 88px;
}

.contact a {
  font-weight: 700;
  text-decoration: none;
  color: var(--hero-weight-color);
}

/* Tablette */
@media screen and (min-width: 768px) {
  .hero-container h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 400;
  }

  .hero-container form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-container form input {
    width: 500px;
    position: absolute;
  }

  button[type="submit"] {
    position: relative;
    left: 128px;
    top: 6px;
    width: 30%;
    padding: 12px;
  }
}

/* Ordinateur */
@media screen and (min-width: 1024px) {
  .hero-container {
    width: 80%;
    max-width: 1100px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-container img {
    height: 500px;
    width: auto;
  }

  .hero-container form div {
    display: block;
  }

  .hero-container h1 {
    margin: 0px 0px 32px -12px;
    width: 80%;
    text-align: left;
    font-size: 72px;
    line-height: 72px;
  }

  .hero-container form input {
    width: 400px;
    margin-left: -12px;
  }

  .hero-container form button {
    top: 0px;
    left: 232px;
    margin-bottom: 0px;
  }

  .contact {
    text-align: left;
    padding-bottom: 16px;
    margin-top: 16px;
  }
}

/* Brands téléphone */
.brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brands-bgc);
}

.brands-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 90%;
}

.partners-pictures {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

.brands-informations {
  width: 100%;
}

.brands-main-title {
  color: white;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 16px;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
}

.brands-description {
  color: var(--brands-text-color);
  text-align: center;
  opacity: 0.7;
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  line-height: 28px;
}

.about-cta {
  display: block;
  margin-top: 46px;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  color: white;
  border-radius: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px 14px 32px;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}

.about-cta:hover {
  opacity: 0.7;
}

/* Tablette */
@media screen and (min-width: 768px) {
  .brands-wrapper {
    width: 75%;
  }

  .brands-main-title {
    font-size: 48px;
  }

  .brands-description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* PC */
@media screen and (min-width: 1024px) {
  .brands-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 80%;
    max-width: 1100px;
  }

  .partners-pictures {
    width: 95%;
  }

  .partners-picture:nth-child(4),
  .partners-picture:nth-child(5),
  .partners-picture:nth-child(6) {
    margin-right: 14px;
  }

  .brands-description,
  .brands-main-title {
    text-align: left;
  }

  .brands-description {
    opacity: 0.7;
  }

  .brands-description,
  .about-cta {
    margin-left: 0px;
  }
}

/* Sections */
.api-section, .illustration-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
}

.api-section img {
  width: 328px;
  height: 209px;
}

.illustration-section img, .api-section img {
  margin-left: auto;
  margin-right: auto;
}

.api-section h2, .illustration-section h2 {
  font-size: 36px;
  font-family: "DM Serif Display", serif;
  color: var(--api-section-title);
  margin-bottom: 24px;
  text-align: center;
}

.api-section p, .illustration-section p {
  font-family: "Public Sans", sans-serif;
  text-align: center;
  width: 90%;
  color: var(--api-section-text);
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  /* Sections */
  .api-section img {
    width: 600px;
    height: 500px;
  }

  .api-section h2, .illustration-section h2 {
    font-size: 48px;
  }

  .api-section p, .illustration-section p {
    width: 78%;
    line-height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .api-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .api-section p, .illustration-wrapper p {
    text-align: left;
  }

  .api-section h2, .illustration-wrapper h2 {
    text-align: left;
    margin-left: 80px;
  }

  .illustration-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}